{% extends 'base.html' %}


{% block body %}
{% block title %}{% endblock %}
{% for book in booklist %}
    <div class="book-in-list" >
        <div style="float: left;">
            <img src={{book.image_url}} style="height: 300px; object-fit: contain;"> <br>
        </div>
        <div>
            <h3>{{ book.title }}</h3>
            <h4>{{ book.author.name }} {{ book.author.surname }}</h4>
            <br>
            <span>Жанр:</span>{% for row in book.genres %}
            {{ genredict[row.genre_id] }}
            {% endfor %}
            <br>
            <br>
            <span> {{ book.description }}</span>
        </div>
        <br>
    </div>
{% endfor %}

{% endblock %}

</body>
</html>